* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 10px;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  border: rgb(106, 105, 105) solid 1px;
  width: 400px;
  height: 60vh;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

input[type="text"] {
  width: 40%;
  padding: 10px;
}

#input-txt {
  border-radius: 20px;
  border: none;
  background-color: lightblue;
  padding: 8px 15px;
  transition: 0.5s;
}

#input-txt:hover {
  background-color: rgb(79, 181, 215);
  color: white;
}

#clear-txt {
  border-radius: 20px;
  border: none;
  background-color: lightcoral;
  padding: 8px 15px;
  transition: 0.5s;
}

#clear-txt:hover {
  background-color: rgb(230, 52, 52);
  color: white;
}

.output_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#output-text {
  border: 1px solid black;
  width: 60%;
  height: 10vh;
  padding: 10px;
  margin-bottom: 20px;
}
